body {
    margin:0;
    padding:0;
    height:100%;
    background-color: #f2f2f2;
}

#divContainer {
    font-family: 'DejaVu Serif', 'Liberation Serif';  
    min-height:100%;
    position:relative;
    width: 1000px; 
    margin: auto;
}

.ulMenu li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
}

.ulMenu {
    line-height: 80px;
    display: inline-block;
}

.menuButton {
    margin: auto 5px auto 5px;
}

.menuButton a {
    text-decoration: none;
    color: whitesmoke;
    border-bottom: dotted 2px;
}

#divMenu {
    text-align: center;
    background-image: url("../img/background.png");
    width: 1000px; 
    min-height: 120px;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 4px 10px #336699;
}

#divContent {
    text-align: center;
}

#divFooter {
    bottom: 0;
    position: fixed; 
    text-align: center;
    background-image: url("../img/background.png");
    width: 1000px; 
    min-height: 120px;
    margin: auto auto 5px auto;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 4px 10px #336699;
}

.infoMessage {
    color: blue;
}

.dispalyToBlockAndCenter {
    display: block;
    margin: auto;
}

